body{
    background-color: rgb(228, 228, 221);
}

#tarolo{
    background-color: rgb(60, 174, 7);
    color: rgb(228, 221, 212);
    width:80%;
    max-width:800px;
    margin:auto;
    padding:10px;

}

#menu {
    padding: 10px;
}

#menu a{
    color: chartreuse;
    text-decoration: none;
    border:1px solid greenyellow;
    padding: 5px 10px 5px 10px;
    margin:10px;
    background-color: rgb(202, 172, 158);
    border-radius: 10px;
}

#menu a:hover {
    color: rgb(218, 238, 43);
    background-color: rgb(122, 199, 51);
}

