body{
    background-color: antiquewhite;
}

#tarolo{
    background-color: brown;
    color: antiquewhite;
    width:80%;
    max-width:800px;
    margin:auto;
    padding:10px;

}

#menu {
    padding: 10px;
}

#menu a{
    color: chartreuse;
    text-decoration: none;
    border:1px solid greenyellow;
    padding: 5px 10px 5px 10px;
    margin:10px;
    background-color: rgb(207, 72, 9);
    border-radius: 10px;
}

#menu a:hover {
    color: rgb(218, 238, 43);
    background-color: rgb(122, 199, 51);
}

